<% if current_user %>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="badge rounded-pill bg-danger">
                <%= @unread.count >= 9 ? "9+ " : "#{@unread.count} " %><i class="bi bi-wallet-fill"></i>
            </span>
        </a>
        <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="navbarDropdown">
            <% @unread.each do |u| %>
                <%= render 'layouts/notification', notification: u %>
            <% end %>
            <% if @unread.count > 0 && @read.count > 0 %>
                <li>
                    <hr class="dropdown-divider">
                </li>
            <% elsif (@unread.count + @read.count) == 0 %>
                <li class="dropdown-item">
                    Nothing Here
                </li>
            <%end%>
            <% @read.each do |u| %>
                <li class="dropdown-item">
                    <%= link_to u.to_notification.message, u.to_notification.url %>
                </li>
            <% end %>
        </ul>
    </li>
    
<% end %>